/*
	Variables
*/
// Foundation theme fonts
$headerFontFamily: $font-family-1;
$bodyFontFamily: $font-family-1;
$bodyFontFamilySerif: $font-family-2;

// Legacy Foundation theme colors
$mainColor: $color-1;
$primaryColor: $color-1;
$secondaryColor: $color-2;
$headerFontColor: $color-1;
$footerHeaderColor: $color-4;

$gray-dark: $gray-dark;
$txtColor: $color-text-base;

$linkColor: $color-link;
$linkHover: $color-link-hover;
$accordionBaseColor: $gray;
$productBgColor: $whitesmoke;

// Other settings
// -----------------------------
$custSelectCurrentFontColor: white;
$custSelectBgColor: lighten($color-1, 5);
$custSelectBorderColor: lighten($color-text-base, 30);
$custSelectTriangleColor: white;
$custSelectTriangleColorOpen: lighten($color-text-base, 30);
// $custSelectDropHeight: 200px;
$custDropdownBgColor: white;
$custDropdownBorderColor: lighten($color-text-base, 75);
$custDropdownFontColor: $color-1;
$custDropdownSelectedBgColor: white;
$custDropdownSelectedFontColor: $color-1;

$rowWidthInt: 940;
$rowWidth: $rowWidthInt+px;

$experimental-support-for-svg: true;

/*
	Default Foundation Overrides
*/
.reveal-modal {
	z-index: 1150;
}

.reveal-modal-bg {
	z-index: 1140;
}

/* Potentially removable styles */
.alignleft {
	text-align: left;
	float: left;
}

.aligncenter {
	text-align: center;
	float: none;
}

.alignright {
	text-align: right;
	float: right;
}

.entypo{
	font-family: 'entypo';
	font-size: 1.4em;
	line-height: 0.7em;
	&.social{
		font-family: 'entypo';
	}
}

.elusive{
	font-family: 'elusive';
	font-size: 0.8em;
	line-height: 1;
	&.social{
		font-family: 'entypo';
	}
}