/* ==|====================
   Layout/Footer
   ======================= */

.footer-heading {
	margin: 10px 0;

	font-size: 0.85em;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: lighten( $color-1, 20 );
}

.footer-division{
	@include outer-container;
	@include row;
	padding: 1.5em;
}

#footer-top-container{
	background: $color-1;
	.footer-heading { color: lighten( $color-1, 30 ); }
}

#footer-bottom-container{ background: darken($gray-dark, 6); }

#footer-top{

	.social-footer{ @include span-columns(6); }
	.enews{ @include span-columns(6); }

	#footer-social-links{ @include clearfix(); }

	.enews-subscribe{ position: relative; }

	.enews-subscribe-button{
		position: absolute;
		right: 2px;
		top: 2px;
		width: 30px;
		height: 30px;
		padding: 0;

		border: none;
		background: $color-1;
		color: white;
		font-size: 1em;
		line-height: 1;

		cursor: pointer;
		transition: background-color $transition-length;

		&:hover { background: darken( $color-1, 10 ); }

		i{
			position: relative;
			top: 1px;
			left: 1px;
			vertical-align: middle;
		}
	}

	.enews-subscribe-input{
		height: 34px;
		padding: 2px 19px 0px;
		border-radius: 0px;
		@include box-shadow(none);
		border: none;
	}
}

#footer-bottom{

	a:not(.btn){
		color: white;
		text-decoration: underline;
		font-size: 0.85em;
		font-weight: 600;
		&:hover { text-decoration: underline; }
	}

	// Current Edition Side
	.current-edition{
		@include span-columns(6);
		padding-left: 0;

		#current-edition{
			padding-bottom: 12px;
			@include row;
		}

		.image-link{
			@include span-columns(2 of 6);
			margin-top: 8px;
		}

		.current-edition-link {
			text-decoration: none;
			&:hover { text-decoration: underline; }
		}

		.info{
			@include span-columns(4 of 6);
			@include omega();
		}

		blockquote{
			color: white;
			border-left: 2px solid lighten($gray-dark, 12);
			@include font-size(14);
			padding: 3px 14px;
			margin-left: 0;
		}

		h3{
			line-height: 0.95em;
			color: white;
			text-transform: uppercase;
			@include font-size(23);
			margin-top: 0;
		}

	}

	// Contact Us Side
	.footer-contact{
		@include span-columns(6);
		@include row;
		padding-right: 0;
	}

	.contactus{
		@include span-columns(3 of 6);
		.footer-heading{ margin-bottom: 18px; }
	}

	.contactus-text{
		color: white;
		font-size: 1.25em;
		font-weight: 400;
		margin-bottom: 5px;
		line-height: 1.4em;
	}

	.contactus-small { color: white; }

	.supportedby{
		@include span-columns(3 of 6);
		@include omega();
		.footer-heading{ margin-bottom: 6px; }
		img{ width: 180px; }
	}

	.gov-logos{
		@include span-columns(6 of 6);
		margin-top: 30px;

		a{
			display: inline-block;
			vertical-align: bottom;
			margin: 0 20px;

			/*@media only screen and (max-width: $rowWidthInt - 1 + px) and (min-width: (($rowWidthInt - $topBarBreakPoint)/2)+$topBarBreakPoint ){
				margin: 0 2.3%;
			}
			@media only screen and (max-width: (($rowWidthInt - $topBarBreakPoint)/2)+$topBarBreakPoint) and (min-width: 768px){
				margin: 0;
			}
			@media only screen and (max-width: 767px){
				margin: 0 14px;
			}
			@media only screen and (max-width: 480px){
				margin: 0 6px;
			}*/

			&:first-child{
				margin-left: 0;
			}
			&:last-child{
				margin-right: 0;
			}
		}

		img{ vertical-align: middle; }
		.donate{
			width: 130px;
			text-align: center;
			vertical-align: middle;
			padding: 10px 0 14px;
			margin-right: 10px;
			background: $color-1;
			font-weight: bold;
			font-size: 13px;
			text-decoration: none;
			&:hover {
				background: darken( $color-1, 10 );
				text-decoration: none;
			}
		}
		.aus-gov{
			width: 100px;
		}
		.aus-council{
			width: 210px;
		}
	}

	.policies{
		@include span-columns(6 of 6);
		margin-top: 35px;
		text-align: center;

		a{
			@include span-columns(2 of 6);
			border-right: 1px solid white;
			font-weight: 400;
			text-decoration: none;
			font-size: 11px;
			letter-spacing: 1px;
			&:last-child{
				border-right: none;
			}
		}
	}
}