@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

// Html 5 Element
$audio-canvas-video: false; // True | False

// = Typography
// -----------------------------
$fa-font-path: "../bower_components/font-awesome/fonts";

$font-family-1: Helvetica, Helvetica, Arial, sans-serif;
$font-family-2: Adelle, Georgia, Cambria, "Times New Roman", Times, serif;
$font-family-3: Menlo, Monaco, Consolas, "Courier New", monospace;
$icon-font: FontAwesome;

$base-font-family: $font-family-1; // Bitters

$serif:						$font-family-2; // Bitters

$font-family-sans-serif:	$font-family-1;
$font-family-serif: 		$font-family-2;
$font-family-monospace: 	$font-family-3;
$font-family-base: 			$font-family-sans-serif;

$font-size-base: 			14px;
$base-font-size: 			$font-size-base; // Bitters
$font-size-1:				floor( $font-size-base * 2.6 ); // ~36px
$font-size-2:				floor( $font-size-base * 2.15 ); // ~30px
$font-size-3:				ceil( $font-size-base * 1.7 ); // ~24px
$font-size-4:				ceil( $font-size-base * 1.25 ); // ~18px
$font-size-4-5:				$font-size-base + 1;
$font-size-5:				$font-size-base;
$font-size-6:				ceil( $font-size-base * 0.85 ); // ~12px
$font-size-7:				floor( $font-size-base * 0.72 ); // ~10px

$h1-font-size: 				$font-size-1; // Bitters
$h2-font-size: 				$font-size-2; // Bitters
$h3-font-size: 				$font-size-3; // Bitters
$h4-font-size: 				$font-size-4; // Bitters
$h5-font-size: 				$font-size-5; // Bitters
$h6-font-size: 				$font-size-6; // Bitters

$font-weight-base:			300;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        	1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    	floor( $font-size-base * $line-height-base ); // ~20px

$base-line-height: $line-height-base; // Bitters


//** By default, this inherits from the `<body>`.
$headings-font-family:    	inherit;
$headings-font-weight:    	500;
$headings-line-height:    	1.1;
$headings-color:          	inherit;

$header-font-family: $headings-font-family; // Bitters
$header-line-height: $headings-line-height; // Bitters

// = Colors
// -----------------------------

// Graphic chart
$red: 			#d21821;
$red-light: 	#ff867c;
$blue: 			#1990db;

$gray-darker:	lighten(#000, 13.5%) !default; // #222
$gray-dark:		lighten(#000, 20%) !default;   // #333
$gray:			lighten(#000, 33.5%) !default; // #555
$gray-light:	lighten(#000, 46.7%) !default; // #777
$gray-lighter: 	lighten(#000, 72%) !default; // #b8b8b8
$gray-lightest:	lighten(#000, 93.5%) !default; // #eee
$gray-medium: 	#b8b8b8;
$whitesmoke: 	#fbfbfb;
$facebook: 		#3b5998;
$twitter: 		#43bfe1;

$dark-gray: $gray-dark; // Bitters
$medium-gray: $gray-light; // Bitters
$light-gray: $gray-lightest; // Bitters

// Some boostrap colours
$color-primary:	#428bca !default;
$color-success:	#5cb85c !default;
$color-info:	#5bc0de !default;
$color-warning:	#f0ad4e !default;
$color-danger:	#d9534f !default;

// Main colors
$color-1: $red;
$color-2: $blue;
$color-3: $gray-dark;
$color-4: $red-light;

// Background Color
$base-background-color: white;

// Text
$color-text-base: $gray-dark;
$base-font-color: $color-text-base; // Bitters
$base-accent-color: $color-1; // Bitters

// Link
$color-link: $color-1;
$color-link-hover: darken( $color-1, 15% );

$base-link-color: $color-link; // Bitters
$hover-link-color: $color-link-hover; // Bitters

// Mixin Placeholder
$color-mixin-placeholder: $gray-medium;

// Selection
$color-selection: $color-1;

// Btn
$bg-btn: #555;
$bg-btn-hover: darken( $bg-btn, 10% );
$clr-btn: #212121;
$clr-btn-hover: darken( $clr-btn, 10% );

$base-button-color: $clr-btn;
$hover-button-color: $clr-btn-hover;

// Border color
$base-border-color: $gray-lightest;
$base-border: 1px solid $base-border-color;

// = CSS3
// -----------------------------
$transition-length: 0.3s;
$transition: all $transition-length;

$base-border-radius: 0;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// = Grid
// -----------------------------

// Max width wrapper
$wrapper-width: em(960);

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: em(1088);

// = Forms
// -----------------------------
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

// = Prefix
// -----------------------------

$prefix-for-webkit:    true !default;
$prefix-for-mozilla:   true !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera:     true !default;
$prefix-for-spec:      true !default; // required for keyframe mixin

@include disable-prefix-for-all;

// = Responsive
// -----------------------------

// Neat Breakpoints
$medium-screen: em(640);
$large-screen: em(860);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);