/* Colors */
.red{
	color: $red;
}
.dark{
	color: $gray-dark;
}
.uppercase{
	text-transform: uppercase;
}

/* ===================
   Modules
   =================== */

/* Module/Flexslider */
.flexslider{
	box-shadow: none;
	border-radius: 0;
}
