/*
  Example:
  <ul class="accordion">
    <li>
      <a href="javascript:void(0)" class="js-accordion-trigger">Accordion Item</a>
      <ul class="submenu">
        <li>
          <a href="javascript:void(0)">Sub Item 1</a>
        </li>
        <li>
          <a href="javascript:void(0)">Sub Item 2</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0)" class="js-accordion-trigger">Another Item</a>
      <ul class="submenu">
        <li>
          <a href="javascript:void(0)">Sub Item 1</a>
        </li>
        <li>
          <a href="javascript:void(0)">Sub Item 2</a>
        </li>
      </ul>
    </li>
  </ul>
*/

.accordion {
  $accordion-menu-border-color: $base-border-color;
  $accordion-menu-color: $base-font-color;
  $accordion-menu-border: 0px solid $accordion-menu-border-color;
  $accordion-menu-background: lighten($accordion-menu-border-color, 10);
  $accordion-menu-hover: lighten($accordion-menu-background, 2);
  $accordion-menu-sub-background: darken($accordion-menu-background, 5);
  $accordion-menu-sub-inset: darken($accordion-menu-sub-background, 6);
  $accordion-menu-sub-hover: lighten($accordion-menu-sub-background, 2);
  $accordion-menu-list-padding: $base-spacing/2 $gutter;

  //background-color: $accordion-menu-background;
  border: $accordion-menu-border;
  margin-bottom: $base-spacing;
  list-style: none;
  padding: 0;

  li {

    &:last-child {
      border: none;
    }

    &:hover {
      background-color: $accordion-menu-hover;
    }

    a {
      color: $accordion-menu-color;
      display: block;
    }

    h6{
      margin: 0;
      text-transform: uppercase;
      color: lighten($gray, 30);
    }

    .count{
      margin-left: 10px;
      color: lighten($gray, 45);
    }

    &.is-expanded {
      padding-bottom: 0;

      .accordion-submenu {
        display: block;
      }

      h6{
        color: lighten($gray, 10);
      }
    }
  }
}

.accordion-section-title {
  padding: 7px 5px 7px 2px;

  &::before{
    font-family: 'entypo';
    content: '';
    float: right;
    @include font-size(15);
    line-height: 1.3rem;
    color: $gray;
  }
}

.accordion-submenu{
  display: none;
  border: none;
  padding: 0 0 0 2px;

  a{
    display: block;
    background: lighten($gray, 63);
    padding: 14px 14px 12px;
    margin-bottom: 1px;
    color: lighten($gray, 15);
  }

  span{
    color: lighten($gray, 15);
    line-height: 0.8em;
    @include font-size(13);
    font-style: italic;
  }
}

ul.accordion{
  border: none;

  li{
    border: none;

    &.active{

      border: none;

      a.title{

        h6{
          color: $gray;
        }

        &::before{
          font-family: 'entypo';
          content: '';
          float: right;
          @include font-size(15);
          line-height: 1.3rem;
          color: lighten($gray, 30);
        }

        &::after{
          position: static;
          border: none;
        }
      }

    }
  }
}