/* ===================
   Module/Button
   =================== */

.btn{
	position: relative;
	padding: 0.8em 0.8em 0.6em;
	margin-right: 0.5em;
	overflow: hidden;
	display: inline-block;

	background: #000;

	text-decoration: none;
	color: #fff;

	transition: all 0.3s;
}

.btn:hover {
	color: #fff;
	background: #222;
	text-decoration: none;
}

.btn:active {
	background: #000;
	top: 2px;
	text-decoration: none;
}

.btn-with-arrow::after {
	content: '';
	position: absolute;
	z-index: -1;

	width: 3.4em;
	height: 250%;
	background: rgba(255,255,255,0.1);
	z-index: 1;
	right: 0;
	top: 0;
	margin: -5px 0 0 -5px;

	transition: all 0.3s;
	transform-origin: 0 0;
	transform: rotate(-20deg);
}

.btn-with-arrow:hover::after { width: 5em; }

.btn-with-arrow .btn-content { margin-right: 2em; }

.btn-title {
	margin: 0;
	display: block;

	color: #fff;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1;
}

.btn-subtitle {
	font-size: 0.85em;
	font-weight: 600;
	color: #fff;
}

.btn-arrow {
	position: absolute;
	top: 50%;
	right: 0.8em;
	margin-top: -$font-size-5/2;

	color: #fff;
	font-size: $font-size-5;

	transition: $transition;
}


/* Color Variations */
.btn-gray, .btn-grey { background: #ccc; }
.btn-gray:hover, .btn-grey:hover { background: darken( #ccc, 10 ); }

.btn-dark {
	background: #333;
	&:hover { background: darken( #333, 7 ) }
	&:active { background: darken( #333, 14 ) }
}

.btn-red {
	background: $red;
	&:hover { background: darken( $red, 7 ) }
	&:active { background: darken( $red, 14 ) }
}

.btn-light, .btn-light:hover {
	background: #fff;
	color: $color-1;
	.btn-arrow { color: $color-1; }
	&:hover {
		background-color: $color-1;
		color: #fff;
		.btn-arrow { color: #fff; }
	}
}

/* Size Variations */
.btn-small { padding: 7px 8px 6px; }

.btn-small .btn-content {
	font-size: $font-size-7;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1;
}

.btn-small .btn-arrow {
	font-size: $font-size-7;
	margin-top: -$font-size-7/2;
	line-height: 1.1;
}

.btn-small.btn-with-arrow::after {
	width: 2.1em;
	background: rgba(255,255,255,0.2);
}

.btn-small.btn-with-arrow:hover::after { width: 3.5em; }



/*a.btn-small, div.btn-small, input.btn-small{

	line-height: 1;
	vertical-align: middle;

	span{
		text-transform: uppercase;
		vertical-align: middle;
		line-height: 1rem;
		font-weight: 600;
	}

	span:not(.arrow){
		vertical-align: top;
		position: relative;

	}

	.arrow{
		float: none;
		margin-left: 10px;
		margin-top: 0;
		font-weight: normal;
		font-size: auto;
		&::after{
			position: relative;
			vertical-align: top;
			top: 0;
			font-size: 10px;
		}
	}

	&.narrow{
		float: none;
		padding: 0;
		display: inline-block;

		.title, .count{
			font-weight: bold;
			display: inline-block;
			text-transform: uppercase;
			@include font-size(12);
			margin-bottom: 0;
			letter-spacing: 1px;
			padding: 0 10px;
		}

		.count{
			padding: 0;
		}

		.arrow{
			margin-right: 5px;
			margin-top: 6px;
		}

		.price{
			position: static;
		}
	}

}*/