/* ===================
   Module/Button Icon
   =================== */

/* Order: Box, Border, Background, Text, Other */

.btn-icon{
	display: block;
	position: relative;
	height: 34px;
	overflow: hidden;
	z-index: 5;
	@include clearfix();

	background: white;

	text-decoration: none;
}

.btn-icon-icon{
	float: left;
	padding: 0.5em 0.7em;

	color: $color-1;
	font-size: $font-size-4;
}

.btn-icon-text{
	float: right;
	padding: 0.9em 1em;

	font-weight: 600;
	font-size: 0.9em;
	line-height: 1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: $color-1;

	transition: $transition;
}

.btn-icon::after {
	position: absolute;
	width: 0%;
	height: 100%;
	top: 0;
	right: -10%;
	z-index: -1;

	border-left: solid 14px #fff;
	border-top: solid 17px transparent;
	border-bottom: solid 17px transparent;

	background: darken( $color-1, 10 );

	opacity: 0;
	transition: $transition;
}

.btn-icon:active {
	top: 2px;
}

.btn-icon:hover .btn-icon-text,
.btn-icon:active .btn-icon-text {
	color: $white;
}

.btn-icon:hover::after,
.btn-icon:active::after {
	width: 90%;
	opacity: 1;
}