/* ===================
   Module/Flexslider
   =================== */

.flexslider {
	margin: 0;

	&:hover {
		.flex-next { right: -36px; }
		.flex-prev { left: -36px; }
	}

	.slides img { width: auto; }
}

.flex-disabled { display: none; }