/* ===================
   Module/Button
   =================== */

.hr-title{}

.hr-title-h6{
	position: relative;
	margin: -46px 0 0 0;
	padding: 0 10px;
	z-index: 10;
	float: left;

	background: $white;

	font-size: $font-size-5;
	font-weight: 600;
	color: lighten($txtColor, 33);
	letter-spacing: 1px;
}

.hr-title-hr{
	border: 1px solid #ddd;
	border-width: 3px 0 0;
	margin-bottom: 35px;
	margin-top: 0;
}

.hr-title .btn-small{
	margin-top: -49px;
	margin-right: 0;
	float: right;
}