/* ===================
   Module/Modal
   =================== */

// Base Modal Styles
.reveal-modal-bg {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #000;
	background: rgba(0,0,0,.8);
	z-index: 100;
	display: none;
	top: 0;
	left: 0;
}

.reveal-modal {
	visibility: hidden;
	top: 100px;
	left: 50%;
	margin-left: -300px;
	background: #fff;
	position: absolute;
	z-index: 101;
	padding: 30px 40px 34px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-box-shadow: 0 0 10px rgba(0,0,0,.4);
	box-sizing: border-box;
}

.reveal-modal.small 		{ width: 20%; margin-left: -10%; }
.reveal-modal.medium 		{ width: 40%; margin-left: -20%; }
.reveal-modal.large 		{ width: 60%; margin-left: -30%; }
.reveal-modal.xlarge 		{ width: 80%; margin-left: -40%; }

.reveal-modal:not(#modal-enews) .close-reveal-modal {
	font-size: 22px;
	line-height: .5;
	position: absolute;
	top: 8px;
	right: 11px;
	color: #aaa;
	text-shadow: 0 -1px 1px rbga(0,0,0,.6);
	font-weight: bold;
	cursor: pointer;
}

/* Griffith and Mailchimp Modal Styles */
.reveal-modal h3 {
	margin-top: 0;
	color: $color-1;
}

.reveal-modal .modal-footer {
	@include row();
}

#modal-enews .form-header {
	@include row();
	margin-bottom: 15px;
}

#modal-enews .enews-text {
	@include span-columns(8);
	line-height: 1.9;
}

#modal-enews .indicates-required {
	@include span-columns(4);
	@include omega();
	margin-right: 0;
}

.close-reveal-modal {
	background-color: lighten( #808080, 10 ) !important;
	&:hover{ background-color: #808080 !important; }
}

#modal-enews #mc_embed_signup form {
	margin-bottom: 0;
	padding: 0;
}

#modal-enews #mc_embed_signup .mc-field-group {
	padding-bottom: 5px;
	width: auto;
}

#modal-enews #mc_embed_signup .input-group {
	@include span-columns(6);
	ul { padding: 0; }
	li {
		display: inline-block !important;
		margin-right: 5px !important;
	}
	label { margin-left: 4px; }
}

#modal-enews #mc_embed_signup .submit-group {
	@include span-columns(6);
	@include omega();

	text-align: right;
	a{ float: none; }

	a, input { margin: 0 0 0 5px; }
}

#modal-enews #mc_embed_signup .button, #modal-enews #mc_embed_signup a.button {
	//@extend .button;
	font-size: 14px;
	height: auto;
	border-radius: 0;
	float: none;
	border: none;
}

#modal-enews #mc_embed_signup input.button {
	//line-height: 1.1;
	background: $color-1;
}