/* ===================
   Module/Navigation Main
   =================== */

.nav-main {
  $nav-main-padding: 1em;
  $nav-main-logo-height: 2em;
  $nav-main-background: $color-1;
  $nav-main-color: white;
  $nav-main-color-hover: white;
  $nav-main-height: 45px;
  $nav-main-item-padding: 2.6em;
  $nav-main-sub-menu-padding: 1em;
  $nav-main-sub-menu-width: 12em;
  $nav-main-item-nudge: 2.2em;
  $horizontal-bar-mode: $large-screen;

  background-color: $nav-main-background;
  border-bottom: 1px solid darken($nav-main-background, 6);
  font-family: $font-family-sans-serif;
  height: $nav-main-height;
  width: 100%;
  z-index: 9999;
  font-size: 13px;

  // Mobile view

  .nav-main-mobile-logo {
    display: inline;
    float: left;
    max-height: $nav-main-height;
    padding-left: $nav-main-padding;

    img {
      max-height: $nav-main-height;
      opacity: .6;
      padding: .8em 0;
    }

    @include media($horizontal-bar-mode) {
      display: none;
    }
  }

  .nav-main-menu-button {
    color: $nav-main-color;
    display: block;
    float: right;
    font-weight: 700;
    line-height: $nav-main-height;
    margin: 0;
    padding-right: $nav-main-sub-menu-padding;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:hover {
      color: $nav-main-color-hover;
    }
  }

  // Nav menu

  .nav-main-wrapper {
    @include outer-container;
    @include clearfix;
    position: relative;
    z-index: 999;
  }

  ul.nav-main-menu {
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999;

    @include media ($horizontal-bar-mode) {
      display: block;
      text-align: center;
    }

    // Top level nav items only
    > li > a {
    	position: relative;
    	letter-spacing: 1px;

    	@include media ($horizontal-bar-mode) {
	    	&::before {
				content: "";
			    display: block;
			    border: 6px solid transparent;
			    border-bottom-color: white;
			    position: absolute;
			    bottom: 0px;
			    left: 50%;
			    margin-left: -($nav-main-sub-menu-padding/2);
				opacity: 0;
				transition: all 0.3s;
			}
		}

		&::after {
			content: '';
			position: absolute;
			z-index: -1;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			transition: all 0.3s;

			width: 0;
			height: 99%;
			top: 50%;
			left: 50%;
			//margin-left: -($nav-main-item-padding/2);
			background: darken( $color-1, 10 );
			opacity: 0;
			-webkit-transform: translateX(-50%) translateY(-50%);
			-moz-transform: translateX(-50%) translateY(-50%);
			-ms-transform: translateX(-50%) translateY(-50%);
			transform: translateX(-50%) translateY(-50%);
		}
    }

    > li:hover > a{
		//background: none !important;
		//color: white !important;

		&::after {
			width: 100%;
			opacity: 1;
		}

		&::before {
		    opacity: 1;
		}
	}

    // Remove top level arrow for menu items with submenus
    > li.menu-item-has-children > a::before {
    	border: none;
    }
  }

  // The nav items

  > .menu-item:first-child {
    @include media($horizontal-bar-mode) {
      margin-left: $nav-main-item-nudge;
    }
  }

  ul li.menu-item {
    background: $nav-main-background;
    display: block;
    line-height: $nav-main-height;
    overflow: hidden;
    padding-right: $nav-main-sub-menu-padding;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @include media($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $nav-main-height;

      a {
      	padding: 0 $nav-main-item-padding/2;
      }
    }

    a {
      color: $nav-main-color;
      display: inline-block;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        color: $nav-main-color-hover;
      }
    }
  }

  li.logo.menu-item {
    display: none;
    line-height: 0;

    @include media($large-screen) {
      display: inline;
    }
  }

  .logo img {
    margin-bottom: -$nav-main-logo-height / 3;
    max-height: $nav-main-logo-height;
    opacity: .6;
  }

  // Sub menus

  li.menu-item-has-children.menu-item {
    padding-right: 0;

    @include media($large-screen) {
      padding-right: $nav-main-sub-menu-padding;
    }

    > ul > li:first-child a  {
    	position: relative;

      	@include media ($horizontal-bar-mode) {
      		padding-top: 1em;
  		}

  		&::after {
  			content: "\f060";
  			position: absolute;
  			right: -50%;
  			font-family: $icon-font;
  			font-weight: 400;

  			transition: $transition;
  		}

  		&:hover {
  			background: darken( $nav-main-background, 10 );

  			&::after {
  				right: $nav-main-sub-menu-padding;
  			}
  		}

    }

    a {
      //margin-right: $nav-main-sub-menu-padding;
    }

    > a {
      //padding-right: 0.6em;
    }

    > a::after {
      //@include position(absolute, auto -.4em auto auto);
      color: $nav-main-color;
      content: '\25BE';
      padding-right: 4px;
      line-height: 2.7em;
    }
  }

  li.menu-item-has-children {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: $nav-main-sub-menu-padding;
    }

    > a {
      //padding-right: 1.6em;
      position: relative;

      @include media($large-screen) {
        //margin-right: $nav-main-sub-menu-padding;
      }

      &:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        //right: $nav-main-sub-menu-padding / 2;
      }
    }

    &:hover > .sub-menu {
      display: block;
      @include fadeInUp( $transition-length );
    }

    @include media($horizontal-bar-mode) {
      padding-right: $nav-main-sub-menu-padding;
      position: relative;
    }
  }

  ul.sub-menu {
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      //left: -$nav-main-sub-menu-padding;
      position: absolute;
      //top: 1.5em;
    }

    .sub-menu {
      @include media($horizontal-bar-mode) {
        left: $nav-main-sub-menu-width - .2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $nav-main-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: .7em;
        }
      }

      a {
        background-color: darken($nav-main-background, 3);
        display: inline-block;
        text-align: right;
        width: 100%;

        @include media($horizontal-bar-mode) {
          background-color: $nav-main-background;
          padding-left: $nav-main-sub-menu-padding;
          text-align: left;
          width: $nav-main-sub-menu-width;
        }
      }
    }
  }
}
