/* ===================
   Module/Snippet
   =================== */

/* Order: Box, Border, Background, Text, Other */

.snippet {
	li p:last-child{ margin-bottom: 0; }
}

.snippet-news, .snippet-event {
	margin-bottom: 12px;
	&:last-child { margin-bottom: 0; }
}

.snippet-title {
	font-weight: bold;
}

.snippet-subtitle {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 500;
	font-size: 15px;

	color: $base-link-color;
	&:hover { color: $hover-link-color; }
}

.snippet-date {
	font-weight: bold;
	color: #444;
}