/* ==|=====================
   Module/Table
   ======================== */

.table {
    background: #fff;
    @include box-shadow(0, 1px, 3px, rgba(#000, .12));
    @include border-radius(2px);
    font-size: .875em; /* 14/16 */
    width: 100%;

    th {
        background: $color-2;
        color: #fff;
        padding: .5em .5em .5em 0;
        text-transform: uppercase;
        font-weight: 300;

        &:first-child {
            padding-left: 1.2em;
            @include border-radius(2px 0 0 0);
        }
        &:last-child {
            @include border-radius(0 2px 0 0);
        }
    }
    tr {
        td {
            border-bottom: 1px dashed #e9e9e9;
            padding: .7em 3em .7em 0;

            &:first-child {
            	padding-left: 1.2em;
            }
            &:last-child {
            	padding-right: .7em;
            }
        }
        &:last-child td {
            border-bottom: none;
        }
    }

    /* Medium Screens */
    @media (max-width: 54em) {
        font-size: .8em;
        tr td {
         padding-right: 2em;
        }
    }
}