/* ===================
   Module/Vertical Tabs
   =================== */

/* Order: Box, Border, Background, Text, Other */

.vertical-tabs { // small screens: accordion
	$tab-border-color: $base-border-color;
	$tab-border: none;
	$tab-border-radius: $base-border-radius;

	$tab-content-background: transparent;
	$tab-active-color: $tab-content-background;
	$tab-inactive-color: $base-background-color;

	$vertical-tabs-height: auto;
	$vertical-tab-mode: $medium-screen;

	@include clearfix;
	border-radius: $tab-border-radius;
	border: $tab-border;
	margin-bottom: $base-spacing;
	overflow: hidden;

	.vertical-tabs-tabs {
		display: none;

		@include media($vertical-tab-mode) {
			display: inline;
			float: left;
			@include size(20% $vertical-tabs-height);

			border: none;

			background-color: $tab-inactive-color;
		}
	}

	.vertical-tab {
		@include media($vertical-tab-mode) {
			display: block;
			padding: $base-spacing/2 $gutter/1.5;

			margin-right: -1px;

			border-bottom: $tab-border;

			color: $gray-lighter;
			font-size: $font-size-4-5;
			font-weight: bold;
			text-align: right;
			text-transform: uppercase;
			letter-spacing: 1px;
			line-height: 1;

			transition: none;

			&.is-active {
				margin-right: -1px;
				padding-right: 0;
				background-color: $tab-content-background;
				color: $gray;

				&::after{
					content: '';
					@include triangle(em($font-size-4-5), $gray-lighter, left);
					float: right;
					padding-left: ($gutter/1.5)-(em($font-size-4-5)/2);
				}
			}
		}
	}

	a.vertical-tab-accordion-heading,
	a.vertical-tab {

	}

	.vertical-tab:focus {
		outline: none;
	}

	.vertical-tab-content-container {
		display: block;
		margin: 0 auto;

		& a:focus {
			outline: none;
		}

		@include media($vertical-tab-mode) {
			@include inline-block;
			@include size(80% $vertical-tabs-height);
			background-color: $tab-content-background;
			border-left: 2px solid $gray-lighter;
		}
	}

	.vertical-tab-content {
		background-color: $tab-content-background;
		padding: em(8) em(12);

		@include media($vertical-tab-mode) {
			border: none;
			display: none;
		}
	}

	.vertical-tab-accordion-heading {
		background-color: $tab-inactive-color;
		border-top: $tab-border;
		cursor: pointer;
		display: block;
		font-weight: bold;
		padding: $base-spacing/2 $gutter/2;

		&:hover {
			color: $base-accent-color;
		}

		&:first-child {
			border-top: none;
		}

		&.is-active {
			background: $tab-active-color;
			border-bottom: none;
		}

		@include media($vertical-tab-mode) {
			display: none;
		}
	}
}

// Based on code by Jett Miller jettmiller.net